# Database configuration
DB_TYPE=sqlite
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=app
SQLITE_DATABASE=dev.sqlite
# For Postgres in future, set DB_TYPE=postgres and the above connection params
